{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}

    <h1>Liste des formations</h1>

    {% if app.user %}
        <a href="{{ path('add_formation') }}">Ajouter une formation</a>
    {% endif %}

    <ul>
        {% for formation in formations %}
            <li><a href="{{ path('detail_formation', {'id': formation.id}) }}">{{ formation.titre }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
