{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}

    <h1>Programme de la session</h1>

    <table>
        <thead>
            <tr>
                <th>Module</th>
                <th>Nombre de jours</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
