{% extends 'base.html.twig' %}

{% block title %}Programme{% endblock %}

{% block body %}

    <h1>Programme de la session</h1>

    <table>
        <thead>
            <tr>
                <th>Module</th>
                <th>Nombre de jours</th>
            </tr>
        </thead>
        <tbody>
            {% for element in liste %}
                <tr>
                    {# {{ dump(liste) }} #}
                    <td colspan="2">{{ element.moduleForma.categorie }}</td>
                </tr>
                <tr>
                    <td>{{ element.moduleForma }}</td>
                    <td>{{ element.nbJours }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
